@media only screen and (max-width: 720px) {
  form,
  .wrapper {
    width: 100%;
  }
  tr th,
  tr td {
    padding-top: 5px;
  }

  table input {
    min-width: 200px;
    min-height: 20px;
  }

  .wrapper{
    padding: 2px;
  }

  #mobile-menu-button {
    opacity: 1;
    display: block;
  }

  #desktop-menu {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  header {
    border-bottom: 2px solid #c0c0c0;
    margin-bottom: 25px;
    padding: 10px;
    padding-bottom: 20px;
  }
}
